<body>
<h1>イノシシ検知</h1>

  <div id="container">

    <div id="left">
      <div id = "time">
        2018年2月25日11時：3件 / A：2件 B：1件<br>
      </div>

      <div id = "graph">

      </div>

    </div>

    <div id="right">

    </div>

  </div>


</body>